.venv/
/data/*
!/data/info.txt
!/data/location_data.csv
!/data/france_departments.geojson
!/data/voitures.csv
!/data/insee_code.csv
!/data/epoints_pivot.csv
!/data/evs_pivot.csv
!/data/fr-ref-geo.csv
app_backup.py